.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

:root {
  --first-title-color: #ffffff;
  --title-our-work-color: #2e2f42;
  --logo-color: #2e2f42;
  --background-color-btn: #f4f4fd;
  --portfolio-btn-color: #e7e9fc;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul {
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

img {
  display: block;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.heder-conteiner {
  display: flex;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
}

.navigation {
  display: flex;
  align-items: center;
}

.site-nav-item {
  padding: 24px 0;
}

.adress-conteiner {
  display: flex;
  margin-left: auto;
}

.nav-item {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  /* identical to box height, or 117% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.site-nav {
  display: flex;
  gap: 40px;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.site-nav-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.site-nav-item:hover,
.site-nav-item:focus {
  color: #404bbf;
}

.adress-nav {
  display: flex;
  font-style: normal;
  margin-left: auto;
  align-items: center;
}
.address-list {
  display: flex;
  gap: 40px;
}
.adress-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
}

.adress-item:hover,
.adress-item:focus {
  color: #404bbf;
}

.hero {
  background: #2e2f42;
  padding: 188px 0;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--first-title-color);
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
}
.btn-hero {
  display: block;
  font-family: 'Roboto', sans-serif;
  min-width: 169px;
  height: 56px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  /* identical to box height, or 150% */
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  border: none;
}

.btn-hero:hover,
.btn-hero:focus {
  background-color: #404bbf;
}
/*INFO--------*/

.info {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container-info {
  display: flex;
}

.list-info {
  display: flex;
  gap: 24px;
}

.post-cats-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  /* identical to box height, or 120% */
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.post-cats-text {
  min-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  /* or 150% */
  letter-spacing: 0.02em;
  color: #434455;
  padding-top: 8px;
}

/*our-work-container*/

.our-work {
  padding-bottom: 120px;
}

.our-work-title {
  font-size: 36px;
  line-height: 1.11;
  /* identical to box height, or 111% */
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-our-work-color);
  padding-bottom: 72px;
  margin-bottom: 72px;
}

.our-work-list {
  display: flex;
  gap: 24px;
}

.section-team {
  background: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-block {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-our-work-color);
  margin-bottom: 72px;
}

.team-name {
  padding: 32px 16px;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.team-text {
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  /* identical to box height, or 117% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-item {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  /* identical to box height, or 117% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer {
  background: #2e2f42;
  padding: 100px 0;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}

.nav-item-footer {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  /* identical to box height, or 117% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.btn-navigation {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  /* identical to box height, or 150% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  cursor: pointer;
  background-color: var(--background-color-btn);
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--portfolio-btn-color);
}

.btn-navigation:hover,
.btn-navigation:focus {
  color: #ffffff;
  background: #404bbf;
  border: 1px solid transparent;
}

.list-nav {
  margin-left: 0 auto;
  margin-right: 0 auto;
  padding-top: 96px;
}

.list-navigation {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.portfolio-container {
  margin-top: 72px;
  margin-bottom: 120px;
}

.navigation-portfolio {
  display: flex;
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-item-block {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  /* identical to box height, or 120% */
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  /* identical to box height, or 150% */
  letter-spacing: 0.02em;
  color: #434455;
}
